* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.not-found-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
}

.not-found-heading {
  font-size: 30px;
  color: #ffffff;
}
