* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.team-main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.loader-style {
  margin-top: 350px;
}

.rcb {
  background-image: linear-gradient(to top, #1e293b, #a4261d);
  background-size: cover;
}

.kkr {
  background-image: linear-gradient(to top, #1e293b, #5755a7);
  background-size: cover;
}

.k11 {
  background-image: linear-gradient(to top, #1e293b, #d91c1f);
  background-size: cover;
}

.csk {
  background-image: linear-gradient(to top, #1e293b, #f7db00);
  background-size: cover;
}

.rr {
  background-image: linear-gradient(to top, #1e293b, #da237b);
  background-size: cover;
}

.mi {
  background-image: linear-gradient(to top, #1e293b, #13418b);
  background-size: cover;
}

.srh {
  background-image: linear-gradient(to top, #1e293b, #f26d22);
  background-size: cover;
}

.dc {
  background-image: linear-gradient(to top, #1e293b, #4f5db0);
  background-size: cover;
}

.team-banner {
  height: 125px;
  width: 98%;
}

.small-match-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 98%;
}
